.form-header {
  color: white;
  font-size: 8ch;
  text-align: center;
  font-family: "Arial", system-ui;
}

.form-btn-list {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;

  li > button {
    &:hover{
      cursor: pointer;
      filter:brightness(1);
    }
  }
}
.form-btn {
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.form-btn:hover {
  cursor: pointer;
}

.list-text {
  color: white;
}

form {
  width: 75%;
}

.form-arrows {
  padding: 1rem;
}


.not-selected{
  filter:brightness(0.5);
}

.selected{
  filter: brightness(1);
}