@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

#root {
  background-image: url("../assets/genre_bg.png") !important;
}

.Confident {
    font-family: "Rubik", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6ch;
    background-color: #FF6347;
    color: white;
    border-radius: 30px;
    border: 2px solid #ccc;
    text-align: center;
    width: 50vh;
    height: 10vh;
    margin-top: 1vh;
}

.Shy {
    font-family: "Rubik", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6ch;
    background-color: #4682B4;
    color: white;
    border-radius: 30px;
    border: 2px solid #ccc;
    text-align: center;
    width: 50vh;
    height: 10vh;
    margin-top: 1vh;
}

.Optimistic {
    font-family: "Rubik", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6ch;
    background-color: #FFD700;
    color: white;
    border-radius: 30px;
    border: 2px solid #ccc;
    text-align: center;
    width: 50vh;
    height: 10vh;
    margin-top: 1vh;
}

.Pessimistic {
    font-family: "Rubik", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6ch;
    background-color: #2F4F4F;
    color: white;
    border-radius: 30px;
    border: 2px solid #ccc;
    text-align: center;
    width: 50vh;
    height: 10vh;
    margin-top: 1vh;
}

.Creative {
    font-family: "Rubik", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6ch;
    background-color: #DA70D6;
    color: white;
    border-radius: 30px;
    border: 2px solid #ccc;
    text-align: center;
    width: 50vh;
    height: 10vh;
    margin-top: 1vh;
}
