.script-text {
  color: black;
}

.script-record {
  color: white;
  margin-right: 1rem;
  /* background-color: #007bff; */
  background-color: #ff1313;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;

  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }

  &:disabled {
    filter: brightness(0.4);
    cursor: default;
  }
}

.script-header {
  color: white;
}

.script-stop {
  background-color: #ff1313;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    filter: brightness(0.4);
    cursor: default;
  }
}

.script-submit {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  &:hover {
    cursor: pointer;
  }
}

.script-text-container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;

  > * {
    margin: 1rem 0px 1rem 0px;
  }
}

.mic-container{
  width:5rem;
  height:5rem;
  padding:1rem;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.mic{
  width:100%;
  height: 100%;
}
